body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
  }
  .section {
    margin-bottom: 20px;
  }
  .controls {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .controls select {
    padding: 5px;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: 1px solid var(--vscode-button-border);
  }
  .controls input {
    flex-grow: 1;
    padding: 5px;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-input-border);
  }
  .controls .buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
  }
  .controls button {
    padding: 10px 20px;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: 1px solid var(--vscode-button-border);
    border-radius: 5px;
  }
  .controls button:hover {
    background-color: var(--vscode-button-hoverBackground);
  }
  textarea.resizeable {
    width: 100%;
    box-sizing: border-box;
    min-height: 100px;
    min-width: 200px;
    resize: vertical;
  }
  .table-container {
    max-height: 45VW; /* Define a altura máxima */
    max-width: 100vw; /* Define a largura máxima */
    overflow: scroll; /* Força ambos os scrolls */
  }
  table {
    width: 100%;
    min-width: 200px;
    border-collapse: collapse;
  }

  td {
    padding: 8px;
    text-align: left;
    vertical-align: top;
    min-width: 100px;
  }

  th, td {
    border: 1px solid var(--vscode-editor-foreground);
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }
  th {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
  }
  input, textarea {
    width: 100%;
    padding: 5px;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-input-border);
    margin: 5px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .key-input {
    min-width: 100px;
  }